<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VitalTime Health Monitoring.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>331401265AE3B97264C7A2DBA0F885504E440421</string>
				<key>dateExpires</key>
				<string>8/14/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64_32</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>331401265AE3B97264C7A2DBA0F885504E440421</string>
						<key>dateExpires</key>
						<string>8/14/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>V822U9PG3C.com.anirudhsrivastava28.VitalTimeHealthMonitoring.watchkitapp</string>
						<key>com.apple.developer.team-identifier</key>
						<string>V822U9PG3C</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>VitalTime Watch App Watch App.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>14f280b5-5878-41dd-8faa-a0882e7b858e</string>
						<key>dateExpires</key>
						<string>8/14/26</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.anirudhsrivastava28.VitalTimeHealthMonitoring.watchkitapp</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V822U9PG3C</string>
						<key>name</key>
						<string>Sharad Srivastava</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V822U9PG3C.com.anirudhsrivastava28.VitalTimeHealthMonitoring</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array>
					<string>health-records</string>
				</array>
				<key>com.apple.developer.healthkit.background-delivery</key>
				<true/>
				<key>com.apple.developer.kernel.increased-memory-limit</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>V822U9PG3C</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>VitalTime Health Monitoring.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d6475248-817e-4ab0-8bd7-c6199043d415</string>
				<key>dateExpires</key>
				<string>8/14/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.anirudhsrivastava28.VitalTimeHealthMonitoring</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V822U9PG3C</string>
				<key>name</key>
				<string>Sharad Srivastava</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
